<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  For general questions or comments, please consult the resources listed on the home page. For specific questions, feel free to email twidder.app [at] gmail.com.
  <!-- Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>. -->
</p>