<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Feel free to email twidder.app@gmail.com or Tweet @twidder_app. We'll get back to you as soon as we can!
  <!-- Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>. -->
</p>