<div class="center hero-unit">
  <h1>Welcome to Twidder</h1>

  <h2>
    A Tweet-based literacy app
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="container">
  <div class="instuctions">
    <img class="straightowl" src="images/resized_owl_straight_with_color.png"/>
    <div class="simple">Using Twidder to strengthen your spelling is simple.</div>
    <img class="pointingowl" src="images/resized_owl_pointing_with_color.png"/>
    <div class="clicksignup">Just click "Sign Up Now" to create an account.</div>
    <img class="angleowl" src="images/resized_owl_angle_with_color.png"/>
    <div class="clickplay">
      Then click "Play" to start the game and enter your answer in the text box. Each correct answer is worth one point. Good luck!
    </div>
  </div>
</div>