<div class="center hero-unit">
  <h1>Welcome to Twidder</h1>

  <h2>
    A Tweet-based literacy app
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <div class="instructions">
    <img src="images/owl_straight_with_color.png"/>
    <img src="images/owl_pointing_with_color.png"/>
    <img src="images/owl_angle_with_color.png"/>
  </div>

</div>