<!-- <div class="center hero-unit"> -->
  <h1>Welcome to Twidder</h1>

  <h2>
    An educational literacy app based on misspellings from 
    <a href="http://www.twitter.com/">Twitter</a>
  </h2>

  <%= link_to "Sign up now!", signup_path %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>