.center.hero-unit
  %h1 Welcome to Twidder
  %h2
    An educational literacy app based on misspellings from
    %a{:href => "http://www.twitter.com/"} Twitter
  = link_to "Sign up now!", '#', class: "btn btn-large btn-primary"