%h2
  Here is a tweet with a misspelling:
.celebritytweet{:align => "center"}
  %blockquote.twitter-tweet{:lang => "en"}
    %p= @tweet.tweet
    %a{:href => @tweet.url}link
  %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}
%br
%h2
  Can you correct it?
.fakeComposeTweet
  .top
    %p Compose Correction
  = render 'form'

.centerz
  .buttonz
    = link_to 'Back', user_answers_path(@user, @answer)
  .buttonz
    = link_to 'Skip', new_user_answer_path(@user, @answer)
