%h1 Twidder

.celebritytweet{:align => "center"}
  %blockquote.twitter-tweet{:lang => "en"}
    %p= @tweet.tweet
    %a{:href => @tweet.url}link
  %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

.fakeComposeTweet
  .top
    %p Compose new Tweet
  = render 'form'

= link_to 'Back', user_answers_path(@user, @answer)

= link_to 'Next', new_user_answer_path(@user, @answer)
