<h1>Twidder</h1>

<div class="tweet" align="center">
	<blockquote class="twitter-tweet" lang="en">
		<p><%= @tweet.tweet %></p>
		<a href=<%= @tweet.url %>>link</a>
	</blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<%= render 'form' %>

<%= link_to 'Back', user_answers_path(@user, @answer) %>
