@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grey: #f0f0f0;
$blue: #26c4ff;
$space: 20px;
$half_space: $space/2;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*Students*/

.student {
  float: left;
  display: inline-block;
  margin: 16px;
}

.card-container {
   position: relative;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   -o-perspective: 1000;
}

.card {
  width: 200px;
  height: 200px;
   position: relative;
   -webkit-transform-style: preserve-3d;
   -webkit-transition: 0.5s;
   -moz-transform-style: preserve-3d;
   -moz-transition: 0.5s;
   -ms-transform-style: preserve-3d;
   -ms-transition: 0.5s;
   -o-transform-style: preserve-3d;
   -o-transition: 0.5s;
}

.card-container:hover .card {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);       
}

.face {
   position: absolute;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: black;
   text-align: center;
}

.front {
   z-index: 10;
}

.back {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   background-color: $blue;
}

.student a {
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.card-container:hover .front {
   z-index: 0;
} 


/* Home */
.instuctions {
  position: relative;
  background-color: #EEEEEE;
  width: 100%;
  height: 850px;
  border-radius: 7px;
  font-size: 2em;
  color: #333333;
  line-height: 175%;
}

.straightowl {
  position: absolute;
  left: 720px;
  top: 20px;
}

.simple {
  position: absolute;
  top: 141px;
  left: 30px;
}

.pointingowl {
  position: absolute;
  left: 30px;
  top: 300px;
}

.clicksignup {
  position: absolute;
  left: 500px;
  top: 303px;
  width: 400px;
}

.angleowl {
  position: absolute;
  left: 720px;
  top: 525px;
}

.clickplay {
  position: absolute;
  top: 560px;
  left: 123px;
  width: 625px;
}

/* Button styling for game flow */
.centerz {
  text-align: center;
}

.buttonz {
  display: inline-block;
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding: 10px;
}

.buttonz:hover{
  background-color: lightgrey;
}

.resultz {
  background-color: #EEEEEE;
  display: inline-block;
  width: 500px;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 10px;
  line-height: 150%;
  text-align: left;
}

/* Twitter Widget */
h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: $half_space/2 $half_space;
  background-color: rgba(255,255,255,0.5);
  width: 200px - $space;
}

.social {
  padding: $space;
  list-style: none;
  li {
    padding: $half_space 0;
  }
}

.fakeComposeTweet {
  position: relative;
  margin: 0 22%;
  width: 520px;
  height: 200px;
  display: inline-block;
  color: #7A879A;
  background-color: #E4EEF4;
  border: solid grey 1.1px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  border-radius: 7px;
}

.top {
  background-color: #FFFFFF;
  position: absolute;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 520px;
  border-bottom: 1px #9FD0E2 solid;
  text-shadow: .75px .75px .75px rgba(150,150,150,.5);
  font-size: .95em;
  color: rgb(136,153,166);
  height: 37px;
  text-align: center;
}

.top p{
  margin-top: 10px;
}

.entry {
  position: absolute;
  bottom: 65px;
  right: 10px;
  height: 80px;
  width: 495px;
  border: 1px rgb(172, 215, 231) solid;
  border-radius: 3px;
}

/*button time*/
.submitButton{
  background-color: rgb(46, 154, 194);
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 0.9em;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.submitButton:hover{
  background-color: rgb(0, 116,158);
}

.fakeWidget {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 479px;
  height: 200px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 12px;
  border-radius: 7px;
  margin: 5px;
  border: solid grey 1.1px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  margin: 0 23%;
}

.image {
  position: absolute;
  display: inline-block;
  left: 18px;
  top: 18px;
}

.fakeWidget img {
  border-radius: 5px;
}

.name {
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 80px;
  top: 18px;
  font-weight: 600;
}

.subtitle {
  color: $blue;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.handle {
  display: inline-block;
  font-size: 14px;
  color: grey;
  position: absolute;
  left: 80px;
  top: 42px;
}

.followButton {
  display: inline-block;
  font-size: 10px;
  position:absolute;
  top: 18px;
  right: 15px;
  padding-right: 10px;
}

.line {
  color: grey;
  position: absolute;
  bottom: 40px;
  left: 18px;
  border-bottom: 1px #eaeaea solid;
  width: 93%;  
}

.tweet {
  font-family: Georgia,"Times New Roman",Palatino,serif;
  font-size: 18px;
  left: 18px;
  bottom: 70px;
  position: absolute;
}

.reply {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 75px;
}

.retweet {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 45px;
}

.star {
  position: absolute;
  color: grey;
  font-size: 16px;
  letter-spacing: 4px;
  bottom: 10px;
  right: 15px;
}

.clicked {
  color: #55ACEE;
}

.icon:hover{
  color: #55ACEE;
  cursor: pointer;
}

.icons {
  color: grey;
}

.time {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  color: grey;
  left: 18px;
  bottom: 15px;
}

.fakeComposeTweet {
  position: relative;
  width: 520px;
  height: 200px;
  display: inline-block;
  color: #7A879A;
  background-color: #E4EEF4;
  border: solid grey 1.1px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  border-radius: 7px;
  margin: 0 23%;
}


#answer_guess {
  position: absolute;
  bottom: 50px;
  right: 10px;
  height: 80px;
  width: 495px;
}

.submitButton{
  background-color: rgb(46, 154, 194);
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 0.9em;
  position: absolute;
  right: 10px;
  bottom: 2px;
}

.submitButton:hover{
  background-color: rgb(0, 116,158);
}

.top {
  background-color: #FFFFFF;
  position: absolute;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 520px;
  border-bottom: 1px #9FD0E2 solid;
  text-shadow: .75px .75px .75px rgba(150,150,150,.5);
  font-size: .95em;
  color: rgb(136,153,166);
  height: 37px;
  text-align: center;
}

.top p{
  margin-top: 10px;
}

.time:hover {
  text-decoration: underline;
  color: #55ACEE; 
  cursor: pointer;
}

.error_explanation_for_answers_new li{
  position: absolute;
  bottom: 5px;
}

.error_explanation_for_answers_new h2{
  display: none;
}

