<footer class="footer">
  <small>
    <a href="#">Twidder</a>
    by K A D A
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>